# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/
.main.py
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment/version files
.python-version

# UV / package lock (optional depending on your workflow)
uv.lock

# Logs
*.log